# OS
.DS_Store

# IDE / editors
.idea/
.vscode/
.history/
*.vsix
Session.vim
.vim/
.nvim/
.emacs/
.helix/

# Node / build caches
node_modules/
.turbo

# Env files
.env

# blockchain
blockchain/build/
blockchain/temp/

# task-tracker
task-tracker.md