.loader {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.loader__image {
  display: block;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}
